.filter {
    margin-top: 1em;
}
.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: small;
}
h2 { 
    width: 100%;
    font-size: x-large;
    text-align: center;
}
.criminal-card {
    border: 1px dotted black;
    background-color: goldenrod;
    margin-bottom: 1em;
    width: 27%;
    padding: 0 1em 1em 1em;
    height: auto;
}
.criminal-card p {
    margin:0;
}
.witness-card {
    border: 1px dotted black;
    background-color: paleturquoise;
    margin-bottom: 1em;
    width: 27%;
    padding: 0 1em 1em 1em;
    height: auto;
}
.witness-card p {
    margin:0;
}
.facility-card {
    border: 1px dotted black;
    background-color: grey;
    margin-bottom: 1em;
    width: 27%;
    padding: 0 1em 1em 1em;
    height: auto;
}
.facility-card p {
    margin:0;
}